h1.head{
    position: absolute;
    font-size: 25px;
    margin:30px 29px;
   
}
h1.line{
    position:absolute;
    color:rgb(32, 50, 250);
    margin:31px 24px;
}
body{
    margin:0px;
}

a{
    color: rgb(32, 153, 246);
    justify-content: left;
    position: relative;
    margin-left:0em;
}
p.doc1{
text-decoration: none;
position: absolute;
margin-top:80px;
 margin-left:20px;
 font-size: 20px;
  
}

p.doc2{
    text-decoration: none;
    position: absolute;
    color: rgb(96, 194, 255);
    margin-top: 140px;
  margin-left:20px;
  font-size: 20px;
   
 }
 p.doc3{
    text-decoration: none;
    position: absolute;
    color: rgb(96, 194, 255);
    margin-top: 200px;
  margin-left:20px;
  font-size: 20px;
   
 }